.upperForm {
   background-color: #DCDCDC;
   padding: 1px;
   font: 12pt/10pt
}
.upperForm input {
  font-size: 10px;
}
table {
  border-collapse: collapse;
  border: 1px solid grey;
}
table th, table td {
  border: 1px solid grey;
}